body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    border: solid red;
    background-color: green;
    color: white;
    text-align: center;
    height: 150px;
    top: 0;
}
#minha_Foto {
    
}
#licoes_aprendidas {

}
#licoes_a_aprender {

}
#rodape {
    
}