body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: green;
    color: white;
    text-align: center;
    height: 150px;
    top: 0;
}

#tabela, th, td {
    background-color: rgb(35, 179, 6);
    border: 2px solid rgb(1, 53, 36);
    text-align: center;
}